<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/indexpage.css">
    <title>GENAI Content Hub</title>
</head>
<body>
    <header class="header">
        <a href="#" class="header__logo">GENAI CONTENT HUB</a>
        <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle" style="color: white;"></ion-icon>
        <nav class="nav" id="nav-menu">
            <div class="nav__content bd-grid">
                <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>
                <div class="nav__perfil">
                    <div class="nav__img">
                        <img src="../static/Img/logo.png" alt="">
                    </div>
                    <div>
                        <a href="#" class="nav__name">GENAI CONTENT HUB</a>
                        <span class="nav__profesion">Web designer</span>
                    </div>
                </div>
                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                    </ul>
                </div>
                <div class="nav__social">
                    <a href="#" class="nav__social-icon"><ion-icon name="logo-linkedin"></ion-icon></a>
                    <a href="#" class="nav__social-icon"><ion-icon name="logo-github"></ion-icon></a>
                    <a href="#" class="nav__social-icon"><ion-icon name="logo-behance"></ion-icon></a>
                </div>
            </div>
        </nav>
    </header>
    <section class="welcome-section">
        <div class="welcome-container">
            <h1>Welcome to <span>"GENAI"</span> Tools</h1>
        </div>
    </section>
    <section class="image-section">
        <div class="image-container">
            <img src="../static/Img/back.png" alt="Banner Image">
        </div>
    </section>
    <hr class="dashed">
    <br>
    <div class="container">
        <div class="box">
            <a href="/text_summarizer">
                <div class="card-image">
                    <img src="../static/Img/textsum.png" class="card-img" alt="">
                    <h2 class="headings">Text Summarizer</h2>
                </div>
            </a>
            <p class="para">Use this GenAI tool to summarize your text based on Extractive as well as abstractive summarizer.</p>
        </div>
        <div class="box">
            <a href="/imagegen">
                <div class="card-image">
                    <img src="../static/Img/image.jpeg" class="card-img" alt="">
                    <h2 class="headings">Image To Text</h2>
                </div>
            </a>
            <p class="para">An AI-powered program that generates answers to questions based on input images.</p>
        </div>
        <div class="box">
            <a href="/medicalhelp">
            <div class="card-image">
                <img src="../static/Img/medical.png" class="card-img" alt="">
                <h2 class="headings">Medical Help</h2>
            </div>
        </a>
            <p class="para"> An AI-driven medical assistant that provides tailored medical advice based on user-provided questions.</p>
        </div>
        <div class="box">
            <a href="/askpdf">
            <div class="card-image">
                <img src="../static/Img/pdf.png" class="card-img" alt="">
                <h2 class="headings">Ask From PDF</h2>
            </div>
        </a>
            <p class="para"> An AI tool that extracts and provides answers from complete PDF documents based on user-generated questions.</p>
        </div>
        <div class="box">
            <a href="/text_generator">
            <div class="card-image">
                <img src="../static/Img/aks.png" class="card-img" alt="">
                <h2 class="headings">Ask Me</h2>
            </div>
            </a>
            <p class="para">Harnessing advanced AI to deliver precise answers based on user-generated questions.</p>
        </div>
        <div class="box">COMING SOON....</div>
    </div>
    <br>
    <hr class="dashed">
    <footer>
        <div class="text-center">
            Copyright &#169; GENAI_tools.com | All Rights Reserved
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="../static/indexjs.js"></script>
</body>
</html>
